obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/TexasPoker.assets.cache
obj/Debug/net6.0/TexasPoker.csproj.AssemblyReference.cache
bin/Debug/net6.0/TexasPoker.dll
obj/staticwebassets.pack.sentinel
bin/Debug/net6.0/TexasPoker.pdb
obj/Debug/net6.0/TexasPoker.assets.cache
obj/Debug/net6.0/TexasPoker.csproj.AssemblyReference.cache
obj/Debug/net6.0/TexasPoker.dll
obj/Debug/net6.0/TexasPoker.pdb
obj/Debug/net6.0/ref/TexasPoker.dll
obj/Debug/net6.0/refint/TexasPoker.dll
bin/Debug/net6.0/TexasPoker.dll
bin/Debug/net6.0/TexasPoker.exe
bin/Debug/net6.0/TexasPoker.pdb
bin/Debug/net6.0/TexasPoker.staticwebassets.runtime.json
bin/Debug/net6.0/ref/TexasPoker.dll
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/TexasPoker.csproj.nuget.dgspec.json
obj/TexasPoker.csproj.nuget.g.props
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/TexasPoker.assets.cache
obj/Debug/net6.0/TexasPoker.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/TexasPoker.csproj.FileListAbsolute.txt
obj/Debug/net6.0/TexasPoker.dll
obj/Debug/net6.0/TexasPoker.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/TexasPoker.genruntimeconfig.cache
obj/Debug/net6.0/TexasPoker.pdb
obj/Debug/net6.0/ref/TexasPoker.dll
