body{
    background-image: url("poker-background.jpg");
}

.fogotPassword-body{
    padding: 3%;
}

.fogotPassword-form{
    background-color: white;
    padding:3%;
}

.fogotPassword-input{
    padding-left: 20%;
    padding-right: 20%;
    margin: 20px 0;
}