.dice-container{
    padding-left :600px;
    padding-right: 600px;
}

.dices{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

#status{
    font-size: 2rem;
}

.me{
    text-decoration: none;
    color: #008CBA;
}

.player-container{
    padding: 30px 100px;
}