*{
    margin:0;
    padding:0;
    background: rgb(173, 32, 7);
}


.dice-container{
    padding-left :600px;
    padding-right: 600px;
}

.dices{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}