*{
    padding: 0;
    margin: 0;
    background-color: rgb(173, 32, 7);
}

.title-nav{
    padding: 15px;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

