.chips-nav{
    padding: 15px;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.game-container{
    position: relative;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(173, 32, 7);
    padding: 700px 600px;
}

.table-container{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 50px;
}

.poker-table{
    width: 100vw;
    max-width: 800px;
    height: 400px;
    border-radius: 200px;
    background-color: black;
    position: relative;
}

.table-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 780px;
    width: 100vw;
    height: 380px;
    border-radius: 190px;
    background-color: green;
}

.poker-card{
    background-color: rgb(248, 243, 243);
    width: auto;
    width: 80px;
    padding: 10px 0;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
}

.spades, .clubs{
    color: black;
}

.hearts, .diamonds{
    color: red;
}

.card-section{
    position: relative;
    height: 100%;
}

.poker-card-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

}

#dealer-img{
    width: 150px;
    position: absolute;
    top: -100px;
    right: calc(50% - 75px);
}

.seat{
    position: absolute;
}

.seat-icon{
    cursor: pointer;
    background-color: rgb(180, 175, 175);
    font-size: 50px;
    border-radius: 60px;
    padding: 20px;

}

.seat-icon:hover{
    background-color: white;
}

#seat-1{
    left: 30px;
    top: -20px;
}

#seat-2{
    left: -20px;
    top: 360px;
}

#seat-3{
    left: calc(50% - 70px);
    top: 460px;
}

#seat-4{
    right: -20px;
    top: 360px;
}

#seat-5{
    right: 30px;
    top: -20px;
}

.player-card{
    position: absolute;
}

#player-1-card-1{
    bottom: 50px;
    left: 110px;
}

#player-1-card-2{
    bottom: 50px;
    left: 200px;
}

#player-2-card-1{
    top: 100px;
    left: 100px;
}

#player-2-card-2{
    top: 100px;
    left: 190px;
}

#player-3-card-1{
    top: 20px;
    left: 110px;
}

#player-3-card-2{
    top: 20px;
    left: 200px;
}

#player-4-card-1{
    top: 120px;
    right: 80px;
}

#player-4-card-2{
    top: 120px;
    right: -10px;
}

#player-5-card-1{
    bottom: 50px;
    right: 110px;
}

#player-5-card-2{
    bottom: 50px;
    right: 200px;
}

.chips-section{
    position: absolute;
    width: 100%;
    top: 80px;
}

.chips{
    width: 25px;
}

.chips-amount{
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.player-pour-chips{
    position: absolute;
    z-index: 1000;
    color: white;
    display: flex;
}

.pour-chips-amount{
    font-size: 20px;
    position: relative;
    left: 10px;
}

#player-pour-chips-1{
    left: 120px;
    top: 120px;
}

#player-pour-chips-2{
    left: 150px;
    top: 0px;
}

#player-pour-chips-3{
    left: 0px;
    bottom: 150px;
}

#player-pour-chips-4{
    right: 160px;
    bottom: 90px;
}

#player-pour-chips-5{
    right: 160px;
    top: 120px;
}