body {
    background-image: url("poker-background.jpg");
}

.container-xl {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.lobby-menu{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2.5%;
}

.tab-pane {
    color: white;
}

.hand-ranking {
    border-radius: 5px;
}

.table {
    border-radius: 10px;
    width: 100%;
}

th, td {
    color: white;
    text-align: center;
}

.LiveChatContainer {
    width: 350px;
    height: 425px;
    background-color: #f0f0f0;
    border: 1px solid #92989C;
    position: fixed;
}

.LiveChatContainerHeader {
    position: relative;
    width: 100%;
}

.LiveChatHeader {
    background-color: #92989C;
    width: 100%;
    padding: 5px;
}

.LiveChatContainerContents {
    height: 325px;
    width: 100%;
    padding-top: 51px;
    max-height: 60vh;
    overflow-y: scroll;
    position: relative;
}

.sendMessages {
    border-top: 1px solid #B5B9BC;
    padding: 5px;
    width: 100%;
    display: flex;
}

.LCusername {
    display: none;
}

.sender-messagesContexts {
    display: flex;
    justify-content: flex-end;
}

.sender-messagesContents {
    background-color: #92989C;
    color: white;
    max-width: 25%;
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    overflow-wrap: break-word;
}

.replier-messagesContexts {
    display: block;
}

.replier-messagesContents {
    background-color: #007d71;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    max-width: 25%;
    margin-left: 45px;
    overflow-wrap: break-word;
}

.replier-messagesContentsName {
    text-decoration: underline;
    font-weight: bold;
}

.sentTime {
    font-size: 12px;
    text-align: right;
}

.sendImagePic {
    width: 40px;
}

.messageImage {
    border-radius: 10px;
}

.form-control-plaintext {
    outline: none;
}

.card {
    height: 250px;
    width: 250px;
    color: black;
}

.card > img {
    height: 200px;
    width: auto;
}

.card:hover { 
    opacity: 0.8;
}